body {
	background-color: rgb(133,37,43);
	background: url(../img/bg.png);
}

h1, p, span {
	font-family: 'Montserrat', sans-serif;
}

h1, .word, .score {
	text-transform: uppercase;
	color: rgb(133,37,43);
}

.btn {
	background-color: rgb(133,37,43);
	border-color: rgb(133,37,43);
}

#result{
  display: none;
}

ul.tiles {
	list-style: none;
	margin: 1em auto;
}

li.tile {
	display: block;
	float: left;
	width: 5em;
	height: 5em;
	background: url(../img/wood.jpg);
	text-align: center;
	margin: .5em 1em;
	border-radius: .4em;
	position: relative;
	font-style: bold;
}

li.tile:hover {
	ms-transform: skewy(-7deg);
	-moz-transform: skewy(-7deg);
	-webkit-transform: skewy(-7deg);
	-o-transform: skewy(-7deg);
	transform: skewy(-7deg);
	-webkit-box-shadow: -4px -4px rgb(226,191,149),
						-3px -3px rgb(226,191,149),
						-2px -2px rgb(226,191,149),
						-1px -1px rgb(226,191,149);
	-moz-box-shadow: 	-4px -4px rgb(226,191,149),
						-3px -3px rgb(226,191,149),
						-2px -2px rgb(226,191,149),
						-1px -1px rgb(226,191,149);
	box-shadow: 		-4px -4px rgb(226,191,149),
						-3px -3px rgb(226,191,149),
						-2px -2px rgb(226,191,149),
						-1px -1px rgb(226,191,149);
}

.letter {
	position: relative;
	top: 5%;
	font-size: 3em;
	text-transform: uppercase;
}

.value {
	position: absolute;
	right: 10px;
	bottom: 6px;
}